# yaml-language-server: $schema=https://json.schemastore.org/clang-tidy.json

---
Checks: [
  "*",
  # -abseil-*,
  -altera-*,
  # -android-*,
  -fuchsia-*,
  # -google-*,
  -llvm*,
  # -zircon-*,

  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -hicpp-signed-bitwise,
  -misc-include-cleaner,
  -misc-no-recursion,
  -readability-avoid-return-with-void-value,
  -readability-identifier-length,

  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,

  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,

  -hicpp-uppercase-literal-suffix,
  -readability-uppercase-literal-suffix,
]

UseColor: true
...
