# OS
.DS_Store

# IDEs and editors
.idea
.vs

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# Languages and tools
/build
/out
/target

.build
.swiftpm

.cache
.next
dist
node_modules

__pycache__/

.env
.env.development.local
.env.test.local
.env.production.local
.env.local
